<div class="footer-bottom">

	<div class="container">

		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

				<div class="copyright">

					© 2017 AnimeSatu All rights reserved

				</div>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

				<div class="design">

					 <strong> Created by </strong> : <a><%= link_to "Stealer One", 'http://twitter.com/animesatu' %></a>

				</div>

			</div>

		</div>

	</div>
</div>
